<div>
  <h1><%= @todo.title %></h1>
  <%= link_to "削除", todo_path(@todo.id), method: :delete, data: {confirm: "このTodoを削除します。よろしいですか？"} %>
</div>

<div>
  <!--<%= check_box :todo, :is_done %>-->
  <%= form_with model: @todo, url: todo_path(@todo.id), method: :patch do |f| %>
    <%= f.label :is_done, "完了チェック" %>
    <%= f.check_box :is_done %>
    <%= f.submit "更新" %>
  <% end %>
</div>

<div>
  <%= @todo.body %>
</div>

<div>
  <p>重要度：</p>
  <%= @todo.importance_i18n %>
</div>

<%= link_to "Todoを編集", edit_todo_path(@todo.id) %>