<%# <h1>Public::Todos#show</h1>
<p>Find me in app/views/public/todos/show.html.erb</p> %>
<h1>
  <%= @todo.title %>
</h1>

<div>
  <!--<%= check_box :todo, :is_done %>-->
  <%= form_with model: @todo, url: todo_path(@todo.id), method: :patch do |f| %>
    <%= f.label :is_done, "完了チェック" %>
    <%= f.check_box :is_done %>
    <%= f.submit "更新" %>
  <% end %>
</div>

<div>
  <%= @todo.body %>
</div>