<h1>My Page</h1>

<% if @user.is_deleted %>
  <p>退会</p>
<% else %>
  <p>有効</p>
<% end %>

<div>
   <%= @user.nickname %>
</div>

<%# <div>
  <table>
    <tr>
      <td>Todoの数：</td>
    </tr>
    <tr>
      <td>完了済みTodo：</td>
    </tr>
    <tr>
      <td>未完了Todo：</td>
    </tr>
    <tr>
      <td>達成率：</td>
    </tr>
  </table>
</div> %>
<div>
  <h3>Todo数：</h3>
  <%= @todos.count %>
</div>
<div>
  <h3>完了済みTodo数：</h3>
  <%= @completed %>
</div>

<div>
  <h3>未完了Todo数：</h3>
  <%= @uncompleted %>
</div>

<div>
  <h3>達成率：</h3>
  <p><%= (@completed.to_f / @todos.count.to_f) * 100 %>%</p>  <!-- Rubyでは浮動小数点は.to_fにて指定しないと整数になる。(3 / 4 => 0.75ではなく0になる) -->
</div>

<div>
  <%= link_to "ユーザー情報編集", edit_user_path(current_user) %>
</div>