<!DOCTYPE html>
<html>
  <head>
    <title>MyTodos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
      <% if admin_signed_in? %>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete do %>
            Log Out
          <% end %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Todo一覧', todos_path %>
        </li>
        <li>
          <%= link_to 'New Todo', new_todo_path %>
        </li>
        <li>
          <%= link_to 'My Page', user_path(current_user) %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            Log Out
          <% end %>
        </li>
      <% end %>

      </ul>
    </header>
    <%= yield %>
  </body>
</html>
